.form-control {
  border-color: #aece9b;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn {
  transition: color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.btn:hover {
  box-shadow: 0em 0.5em 0.5em -0.5em #4e7f25a4;
  transform: translateY(-0.2em);
  cursor: pointer;
}
