<% layout('/layouts/boilerplate') %>
<h1>Edit <%=furniture._id%> Furniture</h1>
<form action="/furnitures/<%=furniture._id%>?_method=PATCH" method="post">
  <label for="fName">Furniture Name</label>
  <input id="fName" type="text" name="fName" value="<%=furniture.name%>" />
  <label for="fLocation">Furniture Location</label>
  <input
    id="fLocation"
    type="text"
    name="fLocation"
    value="<%=furniture.location%>"
  />
  <button>Edit furniture</button>
</form>
