<% layout('/layouts/boilerplate') %>
<h1>Add Furniture</h1>
<form action="/furnitures" method="post">
  <label for="fName">Furniture Name</label>
  <input id="fName" type="text" name="fName" />
  <label for="fLocation">Furniture Location</label>
  <input id="fLocation" type="text" name="fLocation" />
  <button>Add furniture</button>
</form>
