<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/form.css" />
<div class="row justify-content-center">
  <div class="col-md-6">
    <h4 class="text-center mb-4" style="color: #333">Add Furniture</h4>
    <form
      action="/furnitures/add"
      method="post"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="fName" class="form-label">Furniture Name</label>
        <input
          id="fName"
          type="text"
          name="fName"
          class="form-control"
          placeholder="Enter furniture name"
          required
        />
        <div class="invalid-feedback">Furniture name is required</div>
      </div>
      <div class="mb-3">
        <label for="fSuburb" class="form-label">Furniture Suburb</label>
        <input
          class="form-control"
          id="fSuburb"
          type="text"
          name="fSuburb"
          placeholder="Enter furniture suburb"
          required
        />
        <div class="invalid-feedback">Furniture suburb is required</div>
      </div>
      <div class="mb-3">
        <label for="fCity" class="form-label">Furniture City</label>
        <input
          class="form-control"
          id="fCity"
          type="text"
          name="fCity"
          placeholder="Enter furniture city"
          required
        />
        <div class="invalid-feedback">Furniture city is required</div>
      </div>
      <div class="mb-3">
        <label for="fPrice" class="form-label">Furniture Price</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input
            id="fPrice"
            type="float"
            name="fPrice"
            min="0.00"
            class="form-control"
            value="0"
            required
          />
          <div class="invalid-feedback">Please enter a valid price</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="fDescription" class="form-label"
          >Furniture Description</label
        >
        <textarea
          id="fDescription"
          type="text"
          name="fDescription"
          class="form-control"
          placeholder="Describe this furniture"
          style="
            border-color: #aece9b;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          "
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="fImage" class="form-label">Furniture Photo</label>
        <input
          id="fImage"
          type="file"
          name="fImage"
          class="form-control"
          placeholder="Image"
          multiple
        />
      </div>
      <div class="d-grid">
        <button
          class="btn"
          type="submit"
          style="background-color: #b26b38; color: white"
        >
          Add Furniture
        </button>
      </div>
    </form>
    <div class="text-center mt-3" style="color: #777">
      <a href="/furnitures" style="color: #007bff">View All Furnitures</a>
    </div>
  </div>
</div>
